/* 
웹페이지 배경 설정
*/
body {
    background:  white;
    font-family: arial, helvetica, sans-serif;
    width: 800px;
    margin: 0 auto;
    padding: 0;
  }

  /* 
  헤더 색상 설정 
  패딩을 사용해서 헤더명을 두껍게 설정함
  */
  body > header {
    margin: 0;
    background: #b39ddb;
    color: black;
    padding: 15px;
  }
/* 
리스트 백그라운드 색상 설정
*/
  li{
    background: #ede7f6;
  }

  /* 
  버튼에 쿼서를 위치했을 때 배경 색상이 노란색이 되게 설정함
  */
  button:hover{
    color: black;
    background: yellow;
}